<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    <header>
        <h1>My Blog</h1>
    </header>

    {{>navbar}}

    <main>
        <article>
            <h2>First Blog Post</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed justo ut purus mattis egestas.</p>
        </article>

        <article>
            <h2>Second Blog Post</h2>
            <p>Proin tincidunt, nisl a consequat blandit, urna nisi cursus odio, sit amet facilisis ligula lacus vel
                velit.</p>
        </article>
    </main>

    {{>footer}}
</body>

</html>